@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  align-items: center;
  height: 10vh;
  background-color: rgba(8, 41, 49, 0.35);
  font-family: "Poppins", sans-serif;
}
.logo {
  max-height: 75px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50px;
  gap: 20px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgba(116, 15, 0, 1);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
}
.nav-links a:hover {
  color: rgba(231, 235, 240, 0.6);
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(116, 15, 0, 0.9);
  margin: 5px;
  transition: all 0.3s ease;
}

.headers {
  margin: auto;
  text-align: center;
  align-self: center;
  background-color: rgb(116, 15, 0);
  color: rgba(231, 235, 240, 0.836);
  height: 3em;
}
.headers h2 {
  font-size: 2rem;
  margin: auto;
}

.description {
  text-align: center;
  font: italic;
  font-size: 0.8em;
  margin: 8px 0px 8px 0px;
}
.description-2 {
  text-align: center;
  font: italic;
  font-size: 0.8em;
  margin: 0px 0px 5% 0px;
}

.title {
  font-size: 2em;
}

.title-2 {
  font-size: 2em;
  text-align: left;
}
.text-block {
  padding-bottom: 10px;
  font-size: 0.98em;
}
.section-1 {
  height: 50vh;
  background-image: url(./img/transparant-brushes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-1-text {
  background-color: rgba(8, 41, 49, 0.7);
  height: 50vh;
  padding: 20px;
}
.section-1-text h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.25em;
}
.section-1 div {
  text-align-last: center;
  padding-top: 80px;
  color: rgba(231, 235, 240, 0.836);
}
.section-1 div p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font: italic;
  font-weight: lighter;
}

.section-2 {
  height: 100%;
  background-color: rgba(56, 94, 138, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-2 img {
  max-height: 60%;
  max-width: 60%;
  margin: 10% 20% 0;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}
.text-section-2 {
  text-align: justify;
  color: rgb(116, 15, 0);
  margin: 30px 0;
}

.text-section-2 a {
  text-align: center;
  text-decoration: none;
  color: rgb(116, 15, 0);
}

.section-3 {
  height: 100%;
  background-color: rgba(8, 41, 49, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-3 img {
  max-height: 60%;
  max-width: 60%;
  margin: 5% 20% 10%;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}
.text-section-3 {
  margin: 30px 100px 0px 100px;
  text-align: justify;
  color: rgba(231, 235, 240, 0.836);
}
.text-section-3 a {
  text-align: center;
  text-decoration: none;
  color: rgba(231, 235, 240, 0.836);
}

.contact {
  height: 80vh;
  background-color: rgba(56, 94, 138, 0.25);
  text-align: center;
  padding: 10vh 10vw;
  color: rgb(116, 15, 0);
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  color: rgba(231, 235, 240, 0.836);
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(22, 24, 26, 0.8);
  transition: 400ms;
  height: 20vh;
}

.cookie-container p {
  padding: 20px 0 20px 0;
}

.cookie-container.active {
  bottom: 0;
  background: rgba(8, 41, 49, 0.9);
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: rgb(116, 15, 0);
  border: 0;
  color: rgba(231, 235, 240, 0.836);
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#footer {
  text-align: center;
  color: rgba(231, 235, 240, 0.6);
  height: 100px;
  background-color: rgba(8, 41, 49, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer a {
  text-decoration: none;
  color: rgba(231, 235, 240, 0.4);
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.textarea {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding-left: 50px;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.form input {
  height: 30px;
  margin: 0px 1vw;
  padding-left: 10px;
}

.form textarea {
  height: 100px;
  margin: 0px 1vw;
  padding: 10px;
}

.button {
  text-decoration: none;
  color: rgba(231, 235, 240, 0.836);
  margin: 0px 1vw;
  font-size: 1em;
  font-weight: bolder;
  padding: 5px;
  background-color: rgba(116, 15, 0, 0.9);
  border-radius: 8px;
  border: none;
}

.button:hover {
  cursor: pointer;
  color: rgba(116, 15, 0, 0.9);
  background-color: rgba(231, 235, 240, 0.836);
  border: 1px solid black;
}

.paintingpage {
  height: 100%;
  background-color: rgba(56, 94, 138, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paintingpage img {
  max-height: 60%;
  max-width: 60%;
  margin: 50px 20%;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}
.paintingpagetext {
  margin: 10px 20% 50px;
  text-align: justify;
  color: rgb(116, 15, 0);
  min-height: 75vh;
}
.details {
  line-height: 2em;
  margin: 10px 0;
}
.cardcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(8, 41, 49, 0.6);
  min-height: 90vh;
}

.paintingcard {
  width: 60vw;
  height: 70vh;
  display: flex-start;
  flex-direction: column;
  background-color: rgba(41, 49, 45, 0.8);
  margin: 50px 20%;
  padding: 20px 20px 50px 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(22, 24, 26, 0.8);
}

.imagecard img {
  align-self: center;
  margin: 10%;
  max-height: 70%;
  max-width: 70%;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}
.text-section-card h1 {
  top: 0;
  min-height: 25%;
}
.text-section-card {
  color: rgba(231, 235, 240, 0.836);
  margin-top: 15%;
}

.text-section-card a {
  text-decoration: none;
  color: rgba(231, 235, 240, 0.836);
  font-size: 1rem;
  padding: 0;
}
.paintingcard p {
  color: rgba(231, 235, 240, 0.5);
  font-size: 0.8em;
  font-weight: lighter;
}
.description-card {
  text-align: center;
  font: italic;
  font-size: 0.8em;
  padding: 20px 0px 20px 0px;
}
.profilepage {
  height: 100%;
  background-color: rgba(56, 94, 138, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profilepage img {
  max-height: 30%;
  max-width: 30%;
  margin: 50px 35%;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}
.profilepagetext {
  margin: 10px 20% 50px;
  text-align: justify;
  color: rgb(116, 15, 0);
  min-height: 75vh;
}

.imgslideshow {
  max-width: 40%;
  margin: 10% 30%;
  box-shadow: 5px 5px 10px rgba(22, 24, 26, 0.8);
}

.slideshow-container {
  width: 100vw;
  min-height: 30%;
  position: relative;
  margin: auto;
  background-color: rgba(8, 41, 49, 0.7);
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(231, 235, 240, 0.836);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0.8em;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(8, 41, 49, 0.9);
  color: rgba(231, 235, 240, 0.836);
}

.text {
  color: rgba(231, 235, 240, 0.836);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(8, 41, 49, 0.9);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
  
}

.active,
.dot:hover {
  background-color: #717171;
}
.dotdiv {
  background-color: rgba(8, 41, 49, 0.7);
  padding-bottom: 30px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: rgba(8, 41, 49, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 60px;
    width: 20rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .nav-links a {
    color: rgba(231, 235, 240, 1);
    margin-left: 50px;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 768px) {
  .section-2 {
    flex-direction: row;
    align-items: center;
    padding: 0 10% 5%;
  }
  .section-2 img {
    max-height: 60%;
    max-width: 60%;
  }
  .text-section-2 {
    margin: 0px;
    width: 200%;
  }

  .section-3 {
    flex-direction: row;
    align-items: center;
    padding: 5% 10% 5%;
  }
  .section-3 img {
    max-height: 60%;
    max-width: 60%;
  }

  .form input {
    margin: 0px 20%;
  }

  .form textarea {
    margin: 0px 20%;
  }

  .button {
    margin: 0px 20%;
  }

  .cardcontainer {
    flex-direction: row;
    min-height: 100vh;
  }

  .paintingcard {
    min-width: 20vw;
    min-height: 30%;
    max-height: 65vh;
    max-width: 30vw;
    margin: 2em auto;
  }
  .text-section-card {
    height: 25%;
  }
  .imagecard img {
    max-height: 70%;
    max-width: 70%;
  }
}
@media screen and (min-width: 1100px) {
  .paintingcard {
    max-height: 75vh;
  }
}

@media screen and (min-width: 1300px) {
  .paintingcard {
    max-height: 70vh;
    max-width: 20vw;
    margin: 30px auto;
  }
  .text-section-card {
    height: 20%;
  }
}
@media screen and (min-width: 1950px) {
  .paintingcard {
    max-height: 85vh;
  }
}
